<!DOCTYPE HTML>
<html>
    <head>
        <title>Django-Twitter Example</title>
        <script type='text/javascript' src='{{ STATIC_URL }}jquery/jquery.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}jquery/jquery-tmpl.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}knockout/knockout-1.2.1.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}twitter/twitterApi.js'> </script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
